
#head {
    border-bottom: 3px black double;
    text-align: center;
}

#left {
    float: left;
    width: 20%;
    padding:.2em;
}

#right {
    border-left: 3px grey double;
    float: right;
    width: 75%;
    padding: .2em;
}

#footer {
    border-top: 3px grey double;
    text-align: center;
    clear: both;
}