fieldset {
  width: 600px;
  background-color: #eeeeee;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 5px 5px 5px gray;
}
label {
  float: left;
  clear: left;
  width: 250px;
  text-align: right;
  padding-right: 1em;
}

input {
  float: left;
}

:required {
  border: 1px solid red;
}

:invalid {
  color: white;
  background-color: red;
}

button {
  display: block;
  margin-left: auto;
  margin-right: auto;
  clear: both;
}
